h1 {
    font-family: $heading-main;
    font-size: $font-xl;
}

h2 {
    font-family: $heading-secondary;
    font-size: $font-xl;
}

h3 {
    font-family: $heading-main;
    font-size: $font-lg;
}

h4 {
    font-family: $heading-secondary;
    font-size: $font-lg;
}

h5 {
    font-family: $heading-main;
    font-size: $font-md;
}

h6 {
    font-family: $heading-secondary;
    font-size: $font-md;
}