/*
* Default variables of colors and fonts, this file is designed to be
* easily adjusted to each projects needs to add brand colors/fonts etc.
*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Raleway:300|Roboto:300&display=swap');

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$heading-main: 'Lobster Two', cursive;
$heading-secondary: 'Raleway', sans-serif;

/* font-sizes */
$font-xl: 3rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;
$font-xm: 0.75rem;

/* colors */
$color-main: darkgrey;
$color-heading: blue;
$color-highlight: orange;
$color-bg-light: white;
$color-bg-dark: grey;

// other brand colors for buttons etc
$color-a: red;
$color-a-hover: darkred;
$color-b: green;
$color-b-hover: darkgreen;
$color-c: turquoise;
$color-c-hover: rgb(15, 124, 113);