/*
* Default variables of colors and fonts, this file is designed to be
* easily adjusted to each projects needs to add brand colors/fonts etc.
*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Raleway:300|Roboto:300&display=swap');

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$heading: 'Lobster Two', cursive;
$heading-secondary: 'Raleway', sans-serif;

/* font-sizes */
$font-xl: 3rem;